/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font, "Inter", sans-serif);
  font-size: 18px;
  font-variation-settings: 'wght' var(--font-weight-main);
  background-color: var(--bg-color);
  color: var(--thems-main-color);
  background-image: var(--bg-image);
  background-size: cover;
  background-attachment: fixed;
  block-size: 100%;
  inline-size: 100%;
  margin-block-start: 102px;
}

@media (width <= 375px) {

  :root {
   --width-content: 100%;
  }
  .save__button {
    flex-direction: column;
  }
  .floppy-svg {
    block-size: 28px;
    inline-size: 28px;
  }
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  gap: 21px;
  font-family: var(--accent-font, fantasy);
  background-color: var(--bg-color);
  border: 2px solid var(--thems-main-color);
  margin: 0 auto;
  padding-block-end: 12px;
  margin-block-end: 104px;
  inline-size: 100%;
  max-inline-size: 700px;
  padding-block-start: clamp(7.5rem, 7.1479rem + 1.5023vw, 8.5rem);
}

.logo {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  text-decoration: none;
}

.header__title {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-transform: uppercase;
}

.theme-menu__list {
  font-size: 14px;
  padding-inline-start: 1vw;
}

.theme-menu__item:not(:last-child) {
  margin-bottom: 8px;
}

.theme-menu__button {
  background-color: transparent;
  border: none;
  text-transform: uppercase;
}

.theme-menu__button:hover {
  opacity: 0.6;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

.theme-menu__button::after {
  content: '';
  display: block;
  inline-size: 0%;
  height: 3px;
  margin-top: 3px;
  background-color: currentColor;
  transition: inline-size 0.3s, background-color 0.3s ease;
}

.theme-menu__button:hover::after {
  inline-size: 100%;
  background-color: currentColor;
}

.theme-menu__button:focus-visible::after {
  inline-size: 100%;
  background-color: currentColor;
}

.theme-menu__button:disabled {
  position: relative;
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: '▶';
  inline-size: 16px;
  block-size: 13px;
  position: absolute;
  inset-inline-start: -15px;
  animation: arrow 0.5s infinite ease-in-out alternate-reverse;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.content {
  max-inline-size: 700px;
  margin-block-start: 107px;
  margin: 0 auto;
}

.card-content__list {
  display: flex;
  flex-direction: column;
  gap: clamp(50px, 3vw, 54px);
}

.card-content__list-item {
  border: 2px solid var(--thems-main-color);
  background-color: var(--bg-color);
}

.card-title {
  font-family: inherit;
  font-size: inherit;
  font-variation-settings: 'wght' 700;
  color: currentColor;
  padding: 5px 10px;
  border-block-end: 2px solid var(--thems-main-color);
}

.card__image {
  position: relative;
  max-block-size: 696px;
}

.card__image-img {
  inline-size: 100%;
  object-fit: cover;
  object-position: center;
  aspect-ratio: 1 / 1;
}

.card__image-watermark {
  content: '';
  position: absolute;
  inset-inline-end: 25px;
  inset-block-start: 25px;
  color: var(--thems-main-color);
  mix-blend-mode: hard-light;
  opacity: 0.5;
  text-transform: uppercase;
  font-family: var(--accent-font, fantasy);
  font-size: 14px;
  z-index: 2;
  text-shadow:
        -1px 0 var(--bg-color), 
        0 1px var(--bg-color), 
        1px 0 var(--bg-color), 
        0 -1px var(--bg-color);
}

@supports ((text-stroke: 1px #000) or (-webkit-text-stroke: 1px #000)) {
  .card__image-watermark {
    -webkit-text-stroke: 1px var(--bg-color);
    text-stroke: 1px var(--bg-color);
    text-shadow: none;
  }
} 

.card-content-paragraph {
  display: grid;
  gap: 25px;
  padding: 25px;
  border-block-start: 2px solid var(--thems-main-color);
}

.card-paragraph {
  align-self: center;
}

.card-buttons {
  display: flex;
  justify-self: end;
  align-items: center;
}

.card__like-button {
  inline-size: 130px;
  block-size: 36px;
}

.button_animation {
  background-color: inherit;
  font-family: var(--accent-font, fantasy);
  font-size: 14px;
  position: relative;
  overflow: hidden;
  box-shadow: 0;
  transition: box-shadow 0.3s ease;
  border: 2px solid var(--thems-main-color);
}

.button_animation:hover {
  cursor: pointer;
}

.button_animation::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  inline-size: 100%;
  block-size: 100%;
  background-color: var(--thems-main-color);
  transition: transform 0.5s ease-in-out;
  transform: translateX(-100%);
}

.button_animation:hover::before {
  transform: translateX(0);
}

.button_animation:focus {
  outline: none;
  box-shadow: 2px 2px 0 var(--thems-main-color);
}

.button__text,
.floppy-svg {
  mix-blend-mode: difference;
  position: relative;
  color: var(--button-color);
}

.card__icon-button {
  border: 2px solid transparent;
  block-size: 36px;
  background-color: inherit;
  transition: border-color 0.3s ease;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: var(--thems-main-color);
}

.like-icon {
  inline-size: 36px;
  block-size: 39px;  
}

.like-icon:hover {
  cursor: pointer;
}

.footer {
  background-color: var(--bg-color);
  inline-size: 100%;
  max-inline-size: 700px;
  margin: 0 auto;
  padding-block-start: 4vh;
  padding-block-end: 6vh;
  text-align: center;
}

.floppy-svg {
  inline-size: 21px;
  block-size: 21px;
}

.save__button {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 15px 20px;
  line-height: 90%;
  margin: auto;
  margin-block-start: 54px;
  margin-block-end: 105px;
  background-color: var(--bg-color);
}

.dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.dialog {
  background-color: var(--bg-color);
  padding: 32px;
  border: 2px solid var(--thems-main-color);
}

.dialog[open] .modal {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin-block-end: 30px;
}

.modal-floppy {
  inline-size: 39px;
  block-size: 39px;
  grid-row-start: 1;
  grid-row-end: span 2;
  color: var(--thems-main-color);
}

.modal-text {
  text-transform: uppercase;
  font-size: 14px;
  font-family: var(--accent-font, fantasy);
  color: var(--thems-main-color);
  line-height: 150%;
  text-align: left;
  max-inline-size: 200px;
}

.modal-button {
  display: block;
  margin: 0 auto;
  padding: 9px 115px;
}

.modal-button:hover {
  cursor: pointer;
}

.filter__grayscale {
  filter: grayscale(50%);
}

.filter__sepia {
  filter: sepia(80%);
}

.filter__blur {
  filter: blur(0.1rem);
}

.filter__hue-rotate-invert {
  filter: hue-rotate(129deg) invert(0.7);
}

.filter__invert-contrast {
  filter: invert(0.7) contrast(2);
}

.filter__saturatr-blur-contrast-opacity {
  filter: saturate(170%) blur(0.07rem) contrast(2) opacity(0.7);
}

.filter__contrast-saturate {
  filter: contrast(2) saturate(150%);
}