/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/
:root.theme-dark {
  --bg-color: #000;
  --thems-main-color: #00CC14;
  --stroke-color: #000;
  --button-color: #00cc14;
  --font-weight-main: 465;
  --font-weight-head: 785;
  --bg-image: repeating-linear-gradient(#000 0 2px, transparent 2px 4px),
              repeating-linear-gradient(to right, #000 0 2px, transparent 2px 4px),
              linear-gradient(#007f0c, #004306);
}

:root.theme-light {
  --bg-color: #fff;
  --thems-main-color: #000;
  --button-color: #fff;
  --bg-image: repeating-linear-gradient(#d3d3d3 0 2px, transparent 2px 4px),
              repeating-linear-gradient(to right, #d3d3d3 0 2px, transparent 2px 4px),
              linear-gradient(#e7e7e7 0.01%, #1a1a1a);
}

@media (prefers-color-scheme: dark) {
    :root {
      --bg-color: #000;
      --thems-main-color: #00CC14;
      --button-color: #00cc14;
      --font-weight-main: 465;
      --font-weight-head: 785;
      --bg-image: repeating-linear-gradient(#000 0 2px, transparent 2px 4px),
                  repeating-linear-gradient(to right, #000 0 2px, transparent 2px 4px),
                  linear-gradient(#007f0c, #004306);
    }
}
