/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --thems-main-color: #000;
    --main-font: Inter-Variable, sans-serif;
    --accent-font: PressStart2P-Regular, fantasy;
    --font-weight-main: 400;
    --font-weight-head: 700;
    --bg-color: #fff;
    --bg-image: repeating-linear-gradient(#d3d3d3 0 2px, transparent 2px 4px),
              repeating-linear-gradient(to right, #d3d3d3 0 2px, transparent 2px 4px),
              linear-gradient(#e7e7e7 0.01%, #1a1a1a);
    --width-content: clamp(100px, 70.5vw, 90%);
    --button-color: #fff;
    --animation-color: red;
  }